<!DOCTYPE html>
<div lang="it">
<head>
    <meta charset="UTF-8">
    <title>Recensioni Immagini</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

</form>
</div>

</body>
</div>


<script src="/javascripts/login.js"></script>