body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: #213147;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* evita che padding aumenti la larghezza */
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
  border-radius: 8px;
  font-size: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.image-card {
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.image-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  margin-top: 15px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6a8da6;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #4c6e87;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.rec-style
{
  height: 40px;
  background-color: #455e71;
  padding-left: 40px;
  border-radius: 15px;

  display: flex;
  align-items: center;    /* Centra verticalmente */
  /*justify-content: center; */
  margin: 8px 0;
  text-align: left;
  color: white;
  font-weight: bold;
}

.poster
{
  margin-top: 30px;
}

#div1, #div2, #div3
{
  display: flex;
  align-items: flex-start;
}

#immagine1, #immagine2, #immagine3
{
  padding-top: 1.5%;
  padding-left: 1%;
}


/*
LOGIN
*/

#login-container
{
  height: 80vh;
  display: flex;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}

#password
{
  margin-top: 10px;
}

#login-tasto
{
  margin-top: 10px;

  background-color: #4c6e87;
  border-radius: 10px;
  padding: 5px;
  width: 50%;

  text-align: center;
}

input
{
  border-radius: 15px;
}

#login{
  display: flex;
  justify-content: center;

  padding-top: 2%;

}

a
{
  text-decoration: none;  /* rimuove la sottolineatura anche per link non visitati */
  color: inherit;         /* o un colore a tua scelta */
}

a:hover
{
  color: #84a2b6;
  font-size: 110%;
}


#tutto
{
  display: none;
}

